<aside class="menu">
  <ul class="menu-list">
    <li><a routerLink="/rooms">
      Rooms list
    </a></li>
  </ul>
  <p class="menu-label">
    Rooms
  </p>
  <ul class="menu-list">
    <li *ngFor="let room of rooms">
      <a [routerLink]="['/rooms', room.id]">
        {{room.title}}
      </a>
    </li>
  </ul>
</aside>
