<div *ngIf="chatRoom">
  <h2 class="title">Room: {{chatRoom.room.title}}</h2>
  <article class="message"
           *ngFor="let message of chatRoom.messages">
    <div class="message-body">
      <b>{{message.user}}:</b>
      {{message.text}}
    </div>
  </article>
</div>
