<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{title}}
      </h1>
      <h2 class="subtitle">
        {{subtitle}}
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <app-menu></app-menu>
      </div>
      <div class="column">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
