<label class="checkbox">
  <input type="checkbox"
         class="checkbox__input"
         [checked]="state"
         (click)=onChange($event)/>
  <span class="checkbox__label">{{label}}</span>
</label>
