/* http://codepen.io/machal/pen/ozgPwm */
/* Layer over the natural checkbox: we can not style input[checkbox] directly */

.checkbox__label:before
  content: ' '
  display: block
  height: 1.3rem
  width: 1.3rem
  position: absolute
  top: 0
  left: 0
  background: white

/* Faux checkbox: we can not style input[checkbox] directly */

.checkbox__label:after
  content: ' '
  display: block
  height: 1.3rem
  width: 1.3rem
  border: .25rem solid #6B6B6B
  transition: 200ms
  position: absolute
  top: 0
  left: 0
  background: white

/* Animation
   ---------*/

.checkbox__label:after
  transition: 100ms ease-in-out

/* Look after animation finishes
   -----------------------------*/

.checkbox__input:checked ~ .checkbox__label:after
  border-top-style: none
  border-right-style: none
  -ms-transform: rotate(-45deg)
  /* IE9 */
  transform: rotate(-45deg)
  height: 1.25rem
  border-color: #00d1b2

.old-ie .checkbox__label:before,
.old-ie .checkbox__label:after
  display: none

/* Not so important:
   -----------------*/

.checkbox
  position: relative
  display: flex
  cursor: pointer
  letter-spacing: -.05em
  /* Mobile Safari: */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

.checkbox__label:after:hover,
.checkbox__label:after:active
  border-color: #00d1b2

.checkbox__label
  margin-left: .5rem
  line-height: .75

.checkbox__input
  margin-top: 2px

.meta
  margin-top: 5em
