<div class="card">
  <header class="card-header">
    <p class="card-header-title" (dblclick)="changeMode()">
        <span *ngIf="mode === 'display'">
          <a [routerLink]="['/rooms', room.id]">#{{room.id}} {{room.title}}</a>
        </span>
      <span *ngIf="mode === 'edit'">#{{room.id}}
        <input type="text" [value]="room.title"
               (keyup.enter)="onNameChange($event.target.value)"
               (keyup.escape)="changeMode()"/>
      </span>
    </p>
    <p class="card-header-icon">
      <ngcz-switch label="Favorite" [state]="isFavorite" (whenSwitch)="onFavoriteChange($event)"></ngcz-switch>
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      {{room.description}}
    </div>
  </div>
</div>
